label {
  padding: 10px 0;
}

input {
  padding: 0 5px;
}

.active {
  color: greenyellow;
}

option {
  color: white;
}

select {
  background-color: #1d232a;
  padding: 10px;
  border: 1px solid rgb(82, 82, 82);
}
